In [1]:
from IPython.display import display
import pandas as pd
from db_utils import db_connect, execute_operation
from sql_queries import tables

In [2]:
table_names = [t['name'] for t in tables]

In [3]:
conn, cur = db_connect()
conn.autocommit = True

In [4]:
print('Number of rows')
print('--------------')

for t in table_names:
    cur.execute(f'SELECT COUNT(*) FROM {t:s};')
    print('{table:14s} = {rows:d}'.format(table=t, rows=cur.fetchone()[0]))

Number of rows
--------------
staging_events = 8056
staging_songs  = 14896
users          = 97
songs          = 14896
artists        = 9553
time           = 8023
songplays      = 319

In [5]:
comparisions = (
    {'table1': 'staging_events', 'col': 'userId', 'table2': 'users'},
    {'table1': 'staging_songs', 'col': 'song_id', 'table2': 'songs'},
    {'table1': 'staging_songs', 'col': 'artist_id', 'table2': 'artists'},
    {'table1': 'staging_events', 'col': 'ts', 'table2': 'time'},
)

for comparision in comparisions:
    table1 = comparision['table1']
    col = comparision['col']
    table2 = comparision['table2']

    cur.execute(f'SELECT COUNT(DISTINCT {col:s}) FROM {table1:s};')
    print(f'Number of distinct {table2:s} in "{table1:s}" = {cur.fetchone()[0]:d}')
    print('(the value must be the same as the number of rows in table '
          f'"{table2:s}")')
    print()

Number of distinct users in "staging_events" = 97
(the value must be the same as the number of rows in table "users")

Number of distinct songs in "staging_songs" = 14896
(the value must be the same as the number of rows in table "songs")

Number of distinct artists in "staging_songs" = 9553
(the value must be the same as the number of rows in table "artists")

Number of distinct time in "staging_events" = 8023
(the value must be the same as the number of rows in table "time")

In [6]:
# Let's see the first few rows of these tables

for t in table_names:
    print(80 * '-')
    print(t)
    display(pd.read_sql(f'SELECT * FROM {t:s} LIMIT 10;', con=conn))

--------------------------------------------------------------------------------
staging_events

,artist,auth,firstname,gender,iteminsession,lastname,length,level,location,method,page,registration,sessionid,song,status,ts,useragent,userid
0,None,Logged Out,None,None,0,None,NaN,free,None,PUT,Login,NaN,52,None,307,1541207073796,None,NaN
1,None,Logged In,Celeste,F,1,Williams,NaN,free,"Klamath Falls, OR",GET,Home,1.541078e+12,52,None,200,1541207123796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53.0
2,Mynt,Logged In,Celeste,F,2,Williams,166.94812,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,Playa Haters,200,1541207150796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53.0
3,Taylor Swift,Logged In,Celeste,F,3,Williams,230.47791,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,You Belong With Me,200,1541207316796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53.0
4,Amy Winehouse,Logged In,Celeste,F,4,Williams,229.85098,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,Valerie,200,1541207546796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53.0
5,Jimmy Eat World,Logged In,Celeste,F,5,Williams,285.83138,free,"Klamath Falls, OR",PUT,NextSong,1.541078e+12,52,Dizzy,200,1541207775796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",53.0
6,None,Logged Out,None,None,0,None,NaN,free,None,GET,Home,NaN,18,None,200,1541239749796,None,NaN
7,Maldita Nerea,Logged In,Anabelle,F,0,Simpson,241.16200,free,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",PUT,NextSong,1.541044e+12,158,Supelicula,200,1541254670796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",69.0
8,Fluke,Logged In,Connar,M,0,Moreno,478.92853,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540824e+12,168,Bermuda,200,1541257880796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10)...",62.0
9,Habib KoitÃÂ©,Logged In,Jayden,M,0,Fox,285.15220,free,"New Orleans-Metairie, LA",PUT,NextSong,1.541034e+12,185,Din Din Wo,200,1541259368796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",101.0

--------------------------------------------------------------------------------
staging_songs

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARBZIN01187FB362CC,1.32026,103.78871,27,Paris Hilton,SOERIDA12A6D4F8506,I Want You (Album Version),192.28689,2006
1,1,ARKIQCZ1187B9A7C7C,52.23974,-0.88576,"Northampton, Northamptonshire, En",Bauhaus,SOSIJKW12A8C1330E3,A God In An Alcove (Session Version),248.65914,0
2,1,ARQVORN11F50C4EFEC,NaN,NaN,None,Bedlight For Blue Eyes,SOMFRKT12A8C146C67,Without You,165.38077,0
3,1,AR7WK5411A348EF5EA,48.85692,2.34121,PARIS - NANTES,Minitel Rose,SOTCOTZ12A8C136BCB,Elevator,248.31955,2008
4,1,AR0IT221187B999C4D,50.50101,4.47684,BELGIUM,The Weathermen,SOFJPHQ12A6D4FBA32,Let Them Come To Berlin,246.17751,0
5,1,ARNX8SX1187B99DAF1,NaN,NaN,None,Rotten Sound,SOGYCJO12A58A79636,Trust,235.10159,2008
6,1,AR8JO2B1187B98EBB6,NaN,NaN,"New York City, NY, USA",Leftöver Crack,SORLTAN12AF72ABBFA,Life Causes Cancer,161.33179,2007
7,1,AR5WU281187FB49C5F,18.11526,-77.27348,Jamaica,Johnny Clarke,SOCQVUK12A8C1441B8,Enter Into His Gates With Praise,170.39628,1975
8,1,ARKUAXS11F4C841DEB,38.89910,-77.02900,Washington DC,Jazz Addixx,SOLJVMI12AB018ABF0,Say Jazzy,266.52689,2007
9,1,AR75G5G1187B9B6758,NaN,NaN,None,Frank Reyes,SORAKOH12A6D4FE512,Ya No Te Creo Nada,286.74567,0

--------------------------------------------------------------------------------
users

   user_id first_name last_name gender level
0      101     Jayden       Fox      M  free
1       52   Theodore     Smith      M  free
2       25     Jayden    Graves      M  paid
3       16      Rylan    George      M  paid
4       28   Brantley      West      M  free
5      100      Adler   Barrera      M  free
6       86      Aiden      Hess      M  free
7       33    Bronson    Harris      M  free
8       49      Chloe    Cuevas      F  paid
9       97       Kate   Harrell      F  paid

--------------------------------------------------------------------------------
songs

,song_id,title,artist_id,year,duration
0,SORBTXD12AB018D2D2,They're Coming For You,AR7EXXM1187B995510,0,193.07057
1,SOAUIQZ12A8C13E7A2,Song of Doing Laundry,AROEG4C1187B99DC4A,0,258.87302
2,SONABZR12A58A7F2BA,Everyone's in Everyone,ARVFTA41187B9963CD,2007,183.37914
3,SOANMQO12AF72A5FEE,The Ladies,AR8NKGL1187B98F57A,0,222.32771
4,SOJEVZW12A8C133988,Waiting,ARYO9BU1187B9ADA88,1997,416.80934
5,SORHUEM12A6D4F6A90,Postfabric,ARI9LZI1187B9A3A53,2005,210.36363
6,SOQTKTG12A6701D451,Turn On_ Tune In_ Drown Out,ARYONFX1187B9B5795,0,389.82485
7,SOOBRRO12A8C139153,Tatuerarevalsen (remaster '03),AROLE161187B98F7E4,0,181.28934
8,SOMDKTT12A6D4FB426,Jamaica Mistaica,ARTBSEF1187FB3CBDE,1996,354.27220
9,SOHKZSX12A6D4F81BE,Before In The Beginning (Album Version),ARDQKMM1187FB3F4F0,0,396.95628

--------------------------------------------------------------------------------
artists

,artist_id,name,location,latitude,longitude
0,ARIDBCA11F4C83D58D,Bill Haley And The Comets,None,NaN,NaN
1,ARY8LZU1187B98D7E5,Eric Weissberg & Deliverance,None,NaN,NaN
2,ARAIJE71187FB5AF69,Children 18:3,None,NaN,NaN
3,ARKP23F1187B9A26F9,The Slackers,"New York, NY",40.71455,-74.00712
4,ARC4UI41187B9AE40A,Republic,None,NaN,NaN
5,AR0MWD61187B9B2B12,The (International) Noise Conspiracy,None,NaN,NaN
6,ARYKSY51187B9B6216,Chymera,None,NaN,NaN
7,AR1LOGZ1187B990FB4,Mike Stern,"Boston, MA",NaN,NaN
8,ARBJQTM1187B9B862B,Cocteau Twins,"Grangemouth, Scotland",56.01162,-3.71947
9,AR1BNKE1187FB4D03C,Agent Orange,"Fullerton, CA",33.87032,-117.92910

--------------------------------------------------------------------------------
time

           start_time  hour  day  week  month  year  weekday
0 2018-11-03 01:05:50     1    3    44     11  2018        6
1 2018-11-03 10:09:09    10    3    44     11  2018        6
2 2018-11-03 15:52:36    15    3    44     11  2018        6
3 2018-11-03 16:07:39    16    3    44     11  2018        6
4 2018-11-03 16:24:53    16    3    44     11  2018        6
5 2018-11-03 16:39:49    16    3    44     11  2018        6
6 2018-11-03 16:50:42    16    3    44     11  2018        6
7 2018-11-03 16:58:43    16    3    44     11  2018        6
8 2018-11-03 17:06:28    17    3    44     11  2018        6
9 2018-11-03 17:15:29    17    3    44     11  2018        6

--------------------------------------------------------------------------------
songplays

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent
0,14,2018-11-20 17:46:38,49,paid,SOCHRXB12A8AE48069,ARTDQRC1187FB4EFD4,758,"San Francisco-Oakland-Hayward, CA",Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...
1,30,2018-11-21 03:12:22,80,paid,SOMULQH12A8C138213,ARENWML1187B99ECB6,774,"Portland-South Portland, ME","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
2,46,2018-11-30 13:52:37,49,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,1096,"San Francisco-Oakland-Hayward, CA",Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20...
3,62,2018-11-29 00:40:14,24,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,984,"Lake Havasu City-Kingman, AZ","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK..."
4,78,2018-11-24 05:04:53,88,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,888,"Sacramento--Roseville--Arden-Arcade, CA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4..."
5,94,2018-11-20 20:33:28,85,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,776,"Red Bluff, CA","""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_..."
6,110,2018-11-14 09:10:49,58,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,522,"Augusta-Richmond County, GA-SC","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK..."
7,126,2018-11-15 13:44:58,30,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,324,"San Jose-Sunnyvale-Santa Clara, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...
8,142,2018-11-13 08:16:36,25,paid,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,442,"Marinette, WI-MI","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK..."
9,158,2018-11-02 18:02:42,50,free,SOBONKR12A58A7A7E0,AR5E44Z1187B9A1D74,207,"New Haven-Milford, CT","""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK..."

In [7]:
# Close connection
conn.close()